---
- name: Start usefull services
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  become: true
  with_items:
    - numad
    - tuned
    - ntpd

- name: Stop unusefull services
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
    masked: yes
  become: true
  with_items:
    - iio-sensor-proxy

- name: Mask evolution services if we removed evolution
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
    masked: yes
    user: yes
  become: false
  with_items:
    - evolution-calendar-factory.service
    - evolution-source-registry.service
    - evolution-addressbook-factory.service
  when: remove_evolution|bool == True

- name: Disable - Virtual filesystem service - Apple File Conduit monitor
  systemd:
    name: gvfs-afc-volume-monitor.service
    state: stopped
    enabled: no
    user: yes
  become: false
  when: disable_gvfs_afc|bool == True

- name: Disable - Virtual filesystem service - digital camera monitor
  systemd:
    name: gvfs-gphoto2-volume-monitor.service
    state: stopped
    enabled: no
    user: yes
  become: false
  when: disable_gvfs_gphoto2|bool == True

- name: Disable - Virtual filesystem service - Media Transfer Protocol monitor
  systemd:
    name: gvfs-mtp-volume-monitor.service
    state: stopped
    enabled: no
    user: yes
  become: false
  when: disable_gvfs_mtp|bool == True
